{% extends 'base.html.twig' %}

{% block title %} SkyJade Immobilier {% endblock%}

{% block body %}
    <main>
        {% if domaines %}
            <section id="domaine" class="domaine">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 mt-3"  data-aos="fade-right" data-aos-duration="2500">
                                    <a href="#">
                                        <div class="card" style="background: linear-gradient(rgba(1, 104, 109, 0.7), rgba(1, 104, 109, 0.9) ), url({{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}); background-size: cover;">
                                            <div class="card-body">
                                                <h5 class="card-title">Architectes</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-3"  data-aos="fade-up" data-aos-duration="2500">
                                    <a href="#">
                                        <div class="card" style="background: linear-gradient(rgba(1, 104, 109, 0.7), rgba(1, 104, 109, 0.9) ), url({{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}); background-size: cover;">
                                            <div class="card-body">
                                                <h5 class="card-title">Décorateurs d'intérieur</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-3"  data-aos="fade-down" data-aos-duration="2500">
                                    <a href="professionnels.html">
                                        <div class="card" style="background: linear-gradient(rgba(1, 104, 109, 0.7), rgba(1, 104, 109, 0.9) ), url({{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}); background-size: cover;">
                                            <div class="card-body">
                                                <h5 class="card-title">Constructeurs de maison</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-sm-6 mt-3"  data-aos="fade-left" data-aos-duration="2500">
                                    <a href="professionnels.html">
                                        <div class="card" style="background: linear-gradient(rgba(1, 104, 109, 0.7), rgba(1, 104, 109, 0.9) ), url({{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}); background-size: cover;">
                                            <div class="card-body">
                                                <h5 class="card-title">Artisans et entreprises du bâtiment</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if presentation %}
            <section id="presentation" class="presentation">
                <div class="container"  data-aos="zoom-in" data-aos-duration="2500">
                    <div class="row">
                        <div class="col-md-5 logo">
                            <img src="{{ absolute_url(asset('build/images/logo-wb.png')) }}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-7 ps-md-3">
                            <h3>Présentation</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quam nemo at, sint culpa ducimus, perspiciatis ab iusto accusantium odio voluptatum facere enim odit facilis tenetur earum! Totam, reprehenderit veritatis.</p>
                            <a href="{{ absolute_url(path('app_frontend_presentation')) }}" class="btn btn-outline-secondary btn-suite">&raquo; Lire ...</a>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if videos %}
            <section id="videos" class="videos">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <div class="row">
                                <div class="col-lg-8 mb-2"  data-aos="fade-right" data-aos-duration="2500">
                                    <div class="row">
                                        <div class="col mb-sm-2">
                                            <div class="card principale" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(1, 37, 39, 0.8), rgba(1, 104, 109, 0.8) ), url({{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}); background-size: cover;">
                                                <a href="#">
                                                    <div class="card-body">
                                                        <h3><i class="fas fa-play-circle fa-2x"></i></h3>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="card-footer">Titre de la vidéo principale</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4"  data-aos="fade-left" data-aos-duration="2500">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-4">
                                            <div class="card secondaire" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(1, 37, 39, 0.8), rgba(1, 104, 109, 0.8) ), url({{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}); background-size: cover;">
                                                <a href="#">
                                                    <div class="card-body">
                                                        <h6><i class="fas fa-play-circle fa-2x"></i></h6>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="card-footer">
                                                        Titre de la video
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-4 mt-2">
                                            <div class="card secondaire" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(1, 37, 39, 0.8), rgba(1, 104, 109, 0.8) ), url({{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}); background-size: cover;">
                                                <a href="#">
                                                    <div class="card-body">
                                                        <h6><i class="fas fa-play-circle fa-2x"></i></h6>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="card-footer">
                                                        Titre de la video est très longue avec autres choses
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-4 mt-2">
                                            <div class="card secondaire" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(1, 37, 39, 0.8), rgba(1, 104, 109, 0.8) ), url({{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}); background-size: cover;">
                                                <a href="#">
                                                    <div class="card-body">
                                                        <h6><i class="fas fa-play-circle fa-2x"></i></h6>
                                                    </div>
                                                </a>
                                                <a href="#">
                                                    <div class="card-footer">
                                                        Titre de la video
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if conseils %}
            <section id="conseils" class="conseils">
                <div class="container"  data-aos="zoom-out" data-aos-duration="2500">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6><a href="#">Titre de conseils pro</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6><a href="#">Titre conseils pro et ce titre doit être long pour tester le ecadre</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{ absolute_url(asset('/build/images/bg-accueil.jpg'))}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h6><a href="#">Titre conseils pro 3</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}

{% block slide %}
    <section id="slide">
        <div class="cover">
            <img src=" {{ absolute_url(asset('build/images/slide_bg.jpg')) }}" class="d-block w-100" alt="...">
            <div class="recherche">
                <form action="#" method="post">
                    <label for="" class="form-label">Trouvez vos pros pour votre projet</label>
                    <div class="input-group mb-3" id="inputGroup">
                        <input type="text" class="form-control" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary btn-search" type="button" id="button-addon2">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock%}

{% block stylesheets %}
    {{ encore_entry_link_tags('immobilieraccueil') }}
{% endblock %}
